

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --pale-blue: hsl(225, 100%, 98%);
    --bright-blue: hsl(245, 75%, 52%);
    --bright-blue-hover: hsla(245, 75%, 52%, .85);
    --shadow: hsla(245, 61%, 79%, .4);
    --shadow-btn: hsla(245, 75%, 52%, .4);
    --shadow-btn-hover: hsla(245, 75%, 52%, .4);
    --bg-color: hsl(216, 65%, 91%);

    --border-size-radius: 10px;

    --very-pale-blue: hsl(225, 100%, 98%);
    --de-saturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    --margin-bottom-value: 1.5rem;
}

html {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--dark-blue);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-color: var(--bg-color);
    height: 100vh;
    text-align: center;
    margin: 1rem;
}

main {
   max-width: 375px;
   background-color: white;
   border-radius: 20px;
   overflow: hidden;
   box-shadow: 2px 10px 25px 1px var(--shadow);
}


.music__image {
    display: block;
    width: 100%;
}

.order__content {
    margin: 2rem 1.5rem;
}

.order_-title {
    font-size: 1.5rem;
    margin-bottom: var(--margin-bottom-value);
}

.order__description {
    line-height: 1.6rem;
    color: var(--de-saturated-blue);
    margin-bottom: var(--margin-bottom-value);
}

.order__plan {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--pale-blue);
    border-radius: var(--border-size-radius);
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--margin-bottom-value);
    
}

.order__pricing {
    display: block;
    margin-right: 3rem;
    width: max-content;
}

.order__plan {
    font-weight: bold;
}

.order__price {
    display: block;
    font-weight: normal;
    color: var(--de-saturated-blue);
}

.order__plan-btn {
    color: var(--bright-blue);
    font-size: 14px;
}

.order__plan-btn:hover {
    color: var(--bright-blue-hover);
    text-decoration: none;
}

.cancel__btn {
    display: block;
    color: var(--de-saturated-blue);
    text-decoration: none;
    font-size: 14px;
}

.order__btn {
    color: #fff;
    border: none;
    background: transparent;
    background-color: var(--bright-blue);
    width: 100%;
    padding: 1rem;
    border-radius: var(--border-size-radius);
    font-weight: bold;
    margin-bottom: var(--margin-bottom-value);
    box-shadow: 0px 15px 30px var(--shadow-btn);
    transition: 0.3s ease-out;
}

.order__btn:hover {
    box-shadow: 0px 15px 30px var(--shadow-btn-hover);
    background-color: var(--bright-blue-hover);
}

.cancel__btn:hover {
    color: var(--dark-blue);
}

@media (max-width: 345px) {
    .order__plan {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
        text-align: center;
    }

}